
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.game {
	display: flex;
	flex-direction: row;
}
#canvas {
	width: 75%;
	height: 90vh;
	border: 10px ridge goldenrod;
	box-sizing: border-box;	
} 
.inform_panel {
	width: 25%;
	height: 90vh;
	box-sizing: border-box;	
	border: 10px ridge goldenrod;
}
.user_avatar {
	width: 20%;
	border: 2px solid darkorange;
	border-radius: 50%;
	display: block;
    margin: 10px auto;
}
.user_name {
	width: 80%;
	border: 3px solid goldenrod;
	border-radius: 10%;
	background-color: transparent;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
	margin: 0 10%;

}
.life {
	height: 20px;
	margin: 5px;  
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 3px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}
.new-name, .start-panel_button {
	display: inline-block;
  color: white;
  text-decoration: none;
  padding: .3em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
}

.new-name:hover, .start-panel_button:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
.new-name:active, .start-panel_button:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }


.line {
	display: block;
	height: 100%;
	align-content: center;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(194, 43, 43);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(194, 43, 43)),
	color-stop(1, rgb(240, 84, 84)));
	background-image: -moz-linear-gradient(center bottom,rgb(194, 43, 43) 37%,rgb(240, 84, 84) 69%);
	-webkit-box-shadow:
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow:
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}
.procent {
	position: absolute;
	left: 40%;
	top: 15%;
}

.start-panel {
	position: absolute;
	top: 35%;
	left: 30%;
	border: 2px solid olivedrab;
	background-color: white;
}

.hidden {
	display: none;
}
